@model FootballersDirectory.Models.FootballerEntity

<form id="edit-form" asp-action="EditConfirm" asp-controller="List" asp-route-id="@Model.Id">
    <input asp-for="Id" hidden />
    <div class="form-group">
        <input id="edit-name" type="text" asp-for="Name" class="form-control" placeholder="Имя" disabled />
    </div>
    <div class="form-group">
        <input id="edit-lastname" type="text" asp-for="LastName" class="form-control" placeholder="Фамилия" disabled />
    </div>
    <div class="form-group">
        <input id="edit-gender" type="text" asp-for="Gender.GenderName" list="Genders" class="form-control" placeholder="Пол" disabled />
        <datalist id="Genders">
            @foreach (var gender in ViewBag.Genders)
            {
                <option value="@gender" />
            }
        </datalist>
    </div>
    <div class="form-group">
        <input id="edit-birthdate" type="date" asp-for="BirthDate" class="form-control" max="9999-12-31" placeholder="Дата рождения" disabled />
    </div>
    <div class="form-group">
        <input id="edit-command" type="text" asp-for="Command.CommandName" list="Commands" class="form-control" placeholder="Название комманды" disabled />
        <datalist id="Commands">
            @foreach (var command in ViewBag.Commands)
            {
                <option value="@command" />
            }
        </datalist>
    </div>
    <div class="form-group">
        <select id="edit-country" asp-for="Country" class="form-control" placeholder="Страна" disabled>
            <option>Россия</option>
            <option>США</option>
            <option>Италия</option>
        </select>
    </div>
    <div class="form-group">
        <table>
            <tr>
                <td>
                    <input id="edit-save" type="submit" class="btn btn-outline-secondary" formmethod="post" value="Сохранить" disabled />
                </td>
                <td>
                    <button id="edit-clear" class="btn btn-outline-secondary" onclick="clearForm()" disabled>Отмена</button>
                </td>
            </tr>
        </table>
    </div>
</form>
